@import 'var';

button {
    background: none;
    border: none
}

input {
    outline: none;
    border: none
}

a {
    color: inherit;
    text-decoration: none
}

html {
    scroll-behavior: smooth;

    background-color: $black;


    & * {
        margin: 0;
        padding: 0;

        color: $white;
        font: 400 16px/1 Arial, Helvetica, sans-serif;
    }
}

li {list-style: none}

img {object-fit: cover}

table {border-collapse: collapse}