$black: #000000;
$white: #FFFFFF;
$blue: #416DF4;
$yellow: #FCFF00;
$red: rgb(103, 29, 0);
$redTransparent: rgba(103, 29, 0, .5);

$fontText: "Roboto";
$fontTitle: "Roboto Condensed";

$px20: 1.25rem;
